<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koala Guide</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <nav>
            <a href="#" class="logo" style="display: none;">Austrália</a>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>COMECE SUA JORNADA DE SUCESSO HOJE MESMO</h2>
            <h1>NO PAÍS DOS KOALAS E OPORTUNIDADES</h1>
            <p>Uma nação, milhares de caminhos - encontre o seu!</p>
            
            <div class="button-container">
                <button class="nav-button" onclick="redirectToStudy()">ESTUDO</button>
                <button class="nav-button" onclick="redirectToJob()">EMPREGO</button>
                <button class="nav-button" onclick="redirectToTourism()">TURISMO</button>
                <button class="nav-button" onclick="redirectToAbout()">SOBRE</button>
            </div>
        </section>
    </main>

    <script src="../static/js/navigation.js"></script>
</body>
</html>